@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  overflow-x: hidden;
}
.active {
  @apply lg:relative lg:before:content-[''] before:w-1 lg:before:h-full before:absolute before:left-9 before:bg-primary;
}
